.Element {
  font-size: 2.4rem;
  padding-block-end: 16rem;
}

.Element h1,
.Element h2,
.Element h3,
.Element h4,
.Element h5 {
  font-family: var(--type-display-name);
  font-weight: var(--type-display-weight);
  line-height: 1.1;
  margin: 4.8rem 0 2rem;
}

.Element h1 {
  font-size: 7.2rem;
  margin-block-start: 9.6rem;
}

.Element h2 {
  margin-block-end: 1.8rem;
}

.Element p {
  margin: .54rem 0 2em;
}
