.ElementList h2 {
  font-size: 3.2rem;
  font-weight: 300;
  margin-block-start: 10rem;
}

.ElementList nav {
  font-family: var(--type-display-name);
  font-weight: var(--type-display-weight);
  margin-inline: 0;
  text-align: left;
}

.ElementList a {
  display: inline-block;
  color: var(--clr-link);
  font-size: 4.8rem;
  text-decoration: none;
  transform: none;
}

.ElementList a[disabled] {
  color: var(--clr-link-disabled);
  cursor: not-allowed;
}

.ElementList nav li {
  display: block;
  line-height: 1.2;
}
